.links-section {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  position: relative;
  box-sizing: border-box;
}
.links-section .border {
  height: 100%;
  width: 100%;
  background: rgba(var(--main-bg-color), var(--panel-opacity));
  position: relative;
  border: var(--border);
  border-left: none;
  border-right: none;
  z-index: 1;
}
.links-section .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}
.links-section .squiggly {
  /* hero pattern by Steve Schoger from https://heropatterns.com/ */
  background-image: url('/src/assets/squiggly-pattern.svg');
  width: 200%;
  height: 500%;
  position: relative;
  top: -25em;
  left: -25em;
  animation-direction: alternate-reverse;
}

.collection-links-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  z-index: 2;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 1%;
}

.collection-links-wrapper {
  display: flex;
  padding-left: 0.7em;
  overflow: hidden;
  flex-direction: column;
  row-gap: 0.5em;
}

.collection-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 80%;
  position: relative;
  left: -0.7em;
}

.collection-links-wrapper:nth-of-type(1) .collection-title {
  color: rgb(var(--accent-1));
}
.collection-links-wrapper:nth-of-type(2) .collection-title {
  color: rgb(var(--accent-2));
}
.collection-links-wrapper:nth-of-type(3) .collection-title {
  color: rgb(var(--accent-3));
}
.collection-links-wrapper:nth-of-type(4) .collection-title {
  color: rgb(var(--accent-4));
}
.collection-links-wrapper:nth-of-type(5) .collection-title {
  color: rgb(var(--accent-5));
}

.links-container {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 0.3em;
}
.links-container:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: -0.7em;
  border-left-width: 2px;
  border-left-style: solid;
}
.collection-links-wrapper:nth-of-type(1) .links-container:before {
  border-left-color: rgb(var(--accent-1));
}
.collection-links-wrapper:nth-of-type(2) .links-container:before {
  border-left-color: rgb(var(--accent-2));
}
.collection-links-wrapper:nth-of-type(3) .links-container:before {
  border-left-color: rgb(var(--accent-3));
}
.collection-links-wrapper:nth-of-type(4) .links-container:before {
  border-left-color: rgb(var(--accent-4));
}
.collection-links-wrapper:nth-of-type(5) .links-container:before {
  border-left-color: rgb(var(--accent-5));
}

.link-wrapper.inactive {
  width: max-content;
  pointer-events: none;
}

.link {
  width: 100%;
  display: block;
}
.link-text {
  display: inline-block;
  max-width: 6em;
  white-space: nowrap;
  position: relative;
}
.link-wrapper:not(.inactive) .link-text:after {
  content: '';
  transition: transform 0.1s ease-out;
  position: absolute;
  bottom: 0em;
  left: -0.7em;
  width: 100%;
  height: 0.5em;
  background-color: rgb(var(--main-accent));
  z-index: -1;
  transform: translateX(-100%);
}
.link-wrapper:not(.inactive):focus .link-text:after,
.link-wrapper:not(.inactive) .link:focus-visible .link-text:after,
.link-wrapper:not(.inactive):hover .link-text:after {
  transform: translateX(0);
}
.link-wrapper:not(.inactive):focus-visible {
  border: none;
  outline: none;
}
