<div class="links-section">
  <div class="bg">
    <div class="squiggly"></div>
  </div>
  <div class="border">
    <ul class="collection-links-container">
      <li class="collection-links-wrapper">
        <h3 class="collection-title"></h3>
        <ul class="links-container">
          <li class="link-wrapper" tabindex="1">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
        </ul>
      </li>
      <li class="collection-links-wrapper">
        <h3 class="collection-title"></h3>
        <ul class="links-container">
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
        </ul>
      </li>
      <li class="collection-links-wrapper">
        <h3 class="collection-title"></h3>
        <ul class="links-container">
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
        </ul>
      </li>
      <li class="collection-links-wrapper">
        <h3 class="collection-title"></h3>
        <ul class="links-container">
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
        </ul>
      </li>
      <li class="collection-links-wrapper">
        <h3 class="collection-title"></h3>
        <ul class="links-container">
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
          <li class="link-wrapper" tabindex="0">
            <a href="" class="link" tabindex="-1"></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
