<dialog id="settings-modal">
  <div id="settings">
    <h2 class="settings-title settings-width">s e t t i n g s</h2>
    <div class="scroller-wrapper">
      <div class="scroller">
        <section id="theme-settings" class="settings-section">
          <h3 class="settings-section-title">theme</h3>
          <div class="settings-content">
            <div class="input-wrapper">
              <label for="load theme">Load theme</label>
              <select name="load theme">
                <option value="custom">Custom</option>
              </select>
            </div>
            <form action="" class="input-group" name="theme">
              <div class="input-wrapper">
                <label for="bg-color">background color</label><input
                  type="text"
                  id="bg-color"
                />
              </div>
              <div class="input-wrapper">
                <label for="fg-color">foreground color</label><input
                  type="text"
                  id="fg-color"
                />
              </div>
              <div class="input-wrapper">
                <label for="main-accent-color">main accent color</label><input
                  type="text"
                  id="main-accent-color"
                />
              </div>
              <div class="input-wrapper">
                <label for="accent-color-1">accent color 1</label><input
                  type="text"
                  id="accent-color-1"
                />
              </div>
              <div class="input-wrapper">
                <label for="accent-color-2">accent color 2</label><input
                  type="text"
                  id="accent-color-2"
                />
              </div>
              <div class="input-wrapper">
                <label for="accent-color-3">accent color 3</label><input
                  type="text"
                  id="accent-color-3"
                />
              </div>
              <div class="input-wrapper">
                <label for="accent-color-4">accent color 4</label><input
                  type="text"
                  id="accent-color-4"
                />
              </div>
              <div class="input-wrapper">
                <label for="accent-color-5">accent color 4</label><input
                  type="text"
                  id="accent-color-5"
                />
              </div>
              <div class="input-wrapper">
                <label for="">panel opacity</label><input
                  type="range"
                  min="0"
                  max="1"
                  step="0.05"
                  id="panel-opacity"
                />
              </div>
            </form>
            <div class="btn-ctn">
              <button type="submit" form="theme" class="outline-button">
                <div class="button-text">Save</div>
                <div class="border"></div>
              </button>
              <button type="button" aria-label="reset" class="underline-anime">
                Reset
              </button>
              <div class="hide msg"></div>
            </div>
          </div>
        </section>
        <section id="link-settings" class="settings-section">
          <h3 class="settings-section-title">links</h3>
          <div class="settings-content">
            <form action="" class="" name="links">
              <ul>
                <li class="link-group">
                  <header class="accordion-closed">
                    <div class="display-mode">
                      <div class="left">
                        <span class="link-group-title"></span>
                        <button type="button" class="edit-button">
                          <svg
                            xmlns="http://www.w4.org/2000/svg"
                            height="1.5em"
                            viewBox="0 96 960 960"
                            width="1.5em"
                            fill="currentColor"
                          >
                            <path
                              d="M180 876h44l443-443-44-44-443 443v44Zm614-486L666 262l42-42q17-17 42-17t42 17l44 44q17 17 17 42t-17 42l-42 42Zm-42 42L248 936H120V808l504-504 128 128Zm-107-21-22-22 44 44-22-22Z"
                            ></path>
                          </svg>
                        </button>
                      </div>
                      <div class="right">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="1.5em"
                          viewBox="0 96 960 960"
                          width="1.5em"
                          fill="currentColor"
                        >
                          <path
                            d="M480 711 240 471l43-43 197 198 197-197 43 43-240 239Z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <div class="hide edit-mode">
                      <input type="text" class="link-group-title" />
                      <button type="button" class="done-button">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="1.5em"
                          viewBox="0 96 960 960"
                          width="1.5em"
                          fill="currentColor"
                        >
                          <path
                            d="M378 810 154 586l43-43 181 181 384-384 43 43-427 427Z"
                          ></path>
                        </svg>
                      </button>
                    </div>
                  </header>
                  <ul class="link-group-links accordion">
                    <li class="link-details input-group">
                      <div class="input-wrapper">
                        <label for=""></label><input type="text" />
                      </div>
                      <div class="input-wrapper">
                        <label for=""></label><input type="text" />
                      </div>
                    </li>
                    <li class="link-details input-group">
                      <div class="input-wrapper">
                        <label for=""></label><input type="text" />
                      </div>
                      <div class="input-wrapper">
                        <label for=""></label><input type="text" />
                      </div>
                    </li>
                    <li class="link-details input-group">
                      <div class="input-wrapper">
                        <label for=""></label><input type="text" />
                      </div>
                      <div class="input-wrapper">
                        <label for=""></label><input type="text" />
                      </div>
                    </li>
                    <li class="link-details input-group">
                      <div class="input-wrapper">
                        <label for=""></label><input type="text" />
                      </div>
                      <div class="input-wrapper">
                        <label for=""></label><input type="text" />
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </form>
            <div class="btn-ctn">
              <button type="submit" form="links" class="outline-button">
                <div class="button-text">Save</div>
                <div class="border"></div>
              </button>
              <button type="button" aria-label="reset" class="underline-anime">
                Reset
              </button>
              <div class="hide msg"></div>
            </div>
          </div>
        </section>
        <section id="keybind-settings" class="settings-section">
          <h3 class="settings-section-title">keybinds</h3>
          <div class="settings-content">
            <form action="" class="" name="keybinds">
              <textarea></textarea>
            </form>
            <button class="outline-button" data-role="generate keybinds">
              <div class="button-text">Generate keybinds</div>
              <div class="border"></div>
            </button>
            <div class="btn-ctn">
              <button type="submit" form="keybinds" class="outline-button">
                <div class="button-text">Save</div>
                <div class="border"></div>
              </button>
              <button type="button" aria-label="reset" class="underline-anime">
                Reset
              </button>
              <div class="hide msg"></div>
            </div>
          </div>
        </section>
        <section id="image-settings" class="settings-section">
          <h3 class="settings-section-title">image</h3>
          <div class="settings-content">
            <form action="" name="image">
              <div class="input-wrapper">
                <label for="file-input" class="outline-button">
                  <div class="button-text">Choose your image</div>
                  <div class="border"></div>
                </label><input
                  type="file"
                  id="file-input"
                  name="image"
                  accept="image/png, image/jpeg, image/svg, image/gif, image/webp"
                />
              </div>
              <div class="input-group">
                <div class="input-wrapper">
                  <label for="background-pos-x">Background position x</label
                  ><input type="text" id="background-pos-x" />
                </div>
                <div class="input-wrapper">
                  <label for="background-pos-y">Background position y</label
                  ><input type="text" id="background-pos-y" />
                </div>
              </div>
            </form>
            <div class="btn-ctn">
              <button type="submit" form="image" class="outline-button">
                <div class="button-text">Save</div>
                <div class="border"></div>
              </button>
              <button type="button" aria-label="reset" class="underline-anime">
                Reset
              </button>
              <div class="hide msg"></div>
            </div>
          </div>
        </section>
        <section id="search-settings" class="settings-section">
          <h3 class="settings-section-title">search</h3>
          <div class="settings-content">
            <div id="search-settings-select-wrapper" class="input-wrapper">
              <label for="search-engine-form">Default search engine:</label>
              <select name="search-engine" id="search-engine-form">
                <option value="google">Google</option>
                <option value="duckduckgo">DuckDuckGo</option>
                <option value="custom">Custom</option>
              </select>
            </div>
            <div
              id="custom-search-settings"
              class="input-group-wrapper inactive"
            >
              <h4>Custom search engine</h4>
              <div class="input-group">
                <div class="input-wrapper">
                  <label for="custom-search-name">name</label><input
                    type="text"
                    id="custom-search-name"
                  />
                </div>
                <div class="input-wrapper">
                  <label for="custom-search-query-url">query url</label><input
                    type="text"
                    id="custom-search-query-url"
                  />
                </div>
              </div>
            </div>
            <div class="btn-ctn">
              <button type="submit" form="search" class="outline-button">
                <div class="button-text">Save</div>
                <div class="border"></div>
              </button>
              <button type="button" aria-label="reset" class="underline-anime">
                Reset
              </button>
              <div class="hide msg"></div>
            </div>
          </div>
        </section>
        <section id="json-settings" class="settings-section">
          <h3 class="settings-section-title">import json</h3>
          <div class="settings-content">
            <form action="" class="" name="import json">
              <textarea></textarea>
            </form>
            <div class="btn-ctn">
              <button type="submit" form="import json" class="outline-button">
                <div class="button-text">Save</div>
                <div class="border"></div>
              </button>
              <button type="button" aria-label="reset" class="underline-anime">
                Reset
              </button>
              <div class="hide msg"></div>
            </div>
          </div>
        </section>
        <section id="link-buttons-container" class="settings-section">
          <div class="settings-content">
            <div class="link-wrapper">
              <a href="" class="underline-link link" data-role="copy config"
                >Copy current config to clipboard</a
              >
              <div class="hide msg"></div>
            </div>
            <div class="link-wrapper">
              <a
                href=""
                class="underline-link link"
                data-role="reset to defaults">Reset to defaults</a
              >
            </div>
          </div>
        </section>
      </div>
    </div>
    <button class="close-button"></button>
  </div>
</dialog>
<dialog id="confirm-modal">
  <div class="content">
    <p>Are you sure?</p>
    <div class="btn-ctn">
      <button type="button" class="outline-button" aria-label="confirm">
        <div class="button-text">Yes</div>
        <div class="border"></div>
      </button>
      <button type="button" class="underline-anime" aria-label="cancel">
        Cancel
      </button>
    </div>
  </div>
</dialog>
